.headerContainer {
  position: fixed;
  right: 0;
  left: 0;
}
header {
  display: flex;
  padding: 16px;
  align-items: center;
  background-color: white;
  position: relative;
  justify-content: space-between;
}
.logoContainer {
  display: flex;
  align-items: center;
  gap: 15px;
  width: calc(261px - 16px);
  padding-left: 10px;
}
.logoText {
  font-weight: bold;
  font-size: 32px;
}
.taskManagement {
  display: flex;
  align-items: center;
}
.taskTitleBox {
  flex-grow: 1;
}
.addBtn {
  margin-right: 16px;
  background: #635fc7;
  color: white;
  border-radius: 24px;
  padding: 10px 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-weight: bold;
  font-size: 15px;
  line-height: 19px;
  width: 164px;
  height: 48px;
}

.elipsis {
  height: 20px;
  width: 5px;
}
